{% extends 'admin/admin.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{category.title}} modif</h1>

    {{ form(form) }}

</div>
{% endblock %}
